* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to left, #ffffff, #f0faff, #d6ecff);
}

.navbar {
  background: rgba(0, 186, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(0, 186, 255, 0.33);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 2rem auto;
  padding: 1rem;
  width: 70%;
  flex-wrap: wrap;
  border-radius: 16px;
  transition: .3s ease-in-out;
  font-weight: 600;
}

.navbar a {
  background: transparent;
  text-decoration: none;
  color: #002e58;
}

.nav-left {
  background: transparent;
  margin-left: 4%;
  font-weight: 700;
  font-size: 1.4rem;
}

.nav-right a {
  color: #fff;
}
.nav-right {
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
}

.nav-right {
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  text-decoration: none;
}

.nav-right:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
  transform: scale(1.1);
}
         

.navbar:hover {
  background: rgba(0, 186, 255, 0.29);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(0, 186, 255, 1);
}

/* Error Message for Invalid URL */

.error-message-url {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 32px;
  height: 100vh;
}

.error-message-url a {
  padding: 16px;
  background: rgb(86, 187, 255);
  color: white;
  text-decoration: none;
  width: 10%;
  border-radius: 16px;
  transition: .2s ease-in-out;
}

.error-message-url a:hover {
  background: rgb(0, 153, 255);
  transform: scale(1.1);
}